<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Academy{% endblock %}</title>
</head>

<body>
    <a href="{% url 'view_student' %}"><button>View students</button></a>
    <a href="{% url 'view_lecturer' %}"><button>View lecturers</button></a>
    <a href="{% url 'view_group' %}"><button>View groups</button></a>
    <a href="{% url 'add_group' %}"><button>Add group</button></a>
    <a href="{% url 'edit_students' %}"><button>Edit students</button></a>
    <a href="{% url 'edit_lecturers' %}"><button>Edit lecturers</button></a>
    <a href="{% url 'edit_groups' %}"><button>Edit groups</button></a>
    <a href="{% url 'contact' %}"><button>Sent Contact Us</button></a>
    <a href="{% url 'view_contact_message' %}"><button>View contact message</button></a>
    <a href="{% url 'view_exchange_rate' %}"><button>View exchange rate</button></a>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>