{% extends 'academy/base.html' %}

{% block title %}
    Edit students
{% endblock %}

{% block content %}
    <h2>Edit students:</h2>
    {% for student in students %}
    <div>
        <p>First name: {{ student.first_name }} Last name: {{ student.last_name }}. Email:
            {{ student.email|linebreaksbr }}
            {% if user.is_authenticated %}
            <a href="{% url 'edit_student' student_id=student.student_id %}">
                <button>Edit</button>
            </a>
            <a href="{% url 'delete_student' student_id=student.student_id %}">
                {% csrf_token %}
                <button>Delete</button>
            </a>
            {% endif %}
        </p>
    </div>
    {% empty %}
    <p>There are no students yet.</p>
    {% endfor %}

    <h2>Add students:</h2>
    {% if new_student %}
    <b> Your student has been added.</b>
    {% else %}
    <form method="post">
        {{ student_form.as_p }}
        {% csrf_token %}
        <p><input type='submit' value='Add student'></p>
    </form>
    {% endif %}
    <a href="{% url 'view_student' %}">
        <button>Return student list</button></a>
    {% endblock %}