<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
 <body>
     <h2>Students:</h2>
    {% for student in students %}
    <div>
        <p>First name: {{ student.first_name }} Last name: {{ student.last_name }}. Email:  {{ student.email|linebreaksbr }}</p>
    </div>
    {% empty %}
        <p>There are no students yet.</p>
    {% endfor %}

    <h2>Add students:</h2>
    {% if new_student %}
        <b> Your student has been added.</b>
    {% else %}
        <form method="post">
            {{ student_form.as_p }}
            {% csrf_token %}
            <p><input type='submit' value='Add student'></p>
        </form>
    {% endif %}

 </body>
</html>
