{% extends 'academy/base.html' %}

{% block title %}
    View Lecturers
{% endblock %}

{% block content %}
    <h2 id='h2_lecturer' >Lecturers:</h2>
    {% for lecturer in lecturers %}
    <div>
        <p>First name: {{ lecturer.first_name }} Last name: {{ lecturer.last_name }}. Email:
            {{ lecturer.email|linebreaksbr }}</p>
    </div>
    {% empty %}
    <p>There are no lecturer yet.</p>
    {% endfor %}
    {% if lecturers.paginator.num_pages != 1 %}
    {% include "academy/pagination.html" with page=lecturers %}
    {% endif %}
{% endblock %}